*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

font-family:Segoe UI, Arial;

background:linear-gradient(135deg,#0f172a,#1e293b);

}


/* Tarjeta */

.login-card{

width:380px;

background:white;

padding:35px;

border-radius:16px;

box-shadow:0 25px 60px rgba(0,0,0,0.35);

}


/* Encabezado */

.header h1{

text-align:center;

font-size:28px;

margin-bottom:5px;

}


.header p{

text-align:center;

color:#777;

font-size:14px;

margin-bottom:25px;

}


/* Formulario */

.form{

display:flex;

flex-direction:column;

gap:15px;

}


.form input{

padding:14px;

border-radius:12px;

border:1px solid #ddd;

font-size:15px;

}


.form input:focus{

outline:none;

border:1px solid #2563eb;

}


.forgot{

text-align:right;

font-size:13px;

color:#666;

cursor:pointer;

}


.form button{

margin-top:5px;

padding:14px;

border-radius:12px;

border:none;

background:#2563eb;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}


.form button:hover{

background:#1d4ed8;

}


/* Separador */

.divider{

margin:25px 0;

text-align:center;

color:#888;

font-size:13px;

}


/* Botones sociales */

.social{

display:flex;

flex-direction:column;

gap:12px;

}


.social-btn{

padding:14px;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

gap:10px;

cursor:pointer;

font-size:14px;

}


.social-btn svg{

width:20px;
height:20px;

}


/* Apple */

.apple{

background:black;

color:white;

}


/* Google */

.google{

border:1px solid #ddd;

}


/* Registro */

.register{

margin-top:25px;

text-align:center;

font-size:14px;

}


.register span{

color:#2563eb;

font-weight:600;

cursor:pointer;

}